header.header
  .inner-left
    a.inner-logo(href = '#')
      span 28
      span Admin
  .inner-right 
    .inner-notify 
      img(src  = 'assets/imgs/icon-bell.svg')
      span 6
    .inner-account 
      img(src = 'assets/imgs/avatar.png')
      .inner-text
        .inner-name Le Van A 
        .inner-role Admin
