nav.sider
  .inner-list
    a.inner-item.active(href = '#')
      img(src = 'assets/imgs/icon-sider-1.svg')
      span Tổng quan
    
    a.inner-item(href = '#')
      img(src = 'assets/imgs/icon-sider-2.svg')
      span Quản lý danh mục
    
    a.inner-item(href = '#')
      img(src = 'assets/imgs/icon-sider-3.svg')
      span Quản lý tour
    
    a.inner-item(href = '#')
      img(src = 'assets/imgs/icon-sider-4.svg')
      span Quản lý đơn hàng
    
    a.inner-item(href = '#')
      img(src = 'assets/imgs/icon-sider-5.svg')
      span Quản lý người dùng
    
    a.inner-item(href = '#')
      img(src = 'assets/imgs/icon-sider-6.svg')
      span Thông tin liên hệ
    
  .inner-line 
  .inner-list 
    a.inner-item(href = '#')
      img(src = 'assets/imgs/icon-sider-7.svg')
      span Cài đặt chung
    
    a.inner-item(href = '#')
      img(src = 'assets/imgs/icon-sider-5.svg')
      span Thông tin cá nhân
    
    a.inner-item.inner-logout(href = '#')
      img(src = 'assets/imgs/icon-sider-8.svg')
      span Đăng xuất
