extends ../layouts/default.pug

block title 
  title Đổi mật khẩu

block main 
  h1.box-title Đổi mật khẩu

  //Section 8
  .section-8 
    form
      .inner-group
        label(for = '') Mật khẩu mới
        input(type = 'password', name = '', id = '')
      
      .inner-group
        label(for = '') Nhập lại mật khẩu mới
        input(type = 'password', name = '', id = '')

      .inner-group.inner-two-col.text-center 
        button Đổi mật khẩu
  //End section 8