extends ../layouts/default.pug

block title 
  title Thông tin website

block main 
  h1.box-title Thông tin website

  //Section 8
  .section-8 
    form
      .inner-group
        label(for = '') Tên website 
        input(type = 'text', name = '', id = '')

      .inner-group
        label(for = '') Số điện thoại
        input(type = 'text', name = '', id = '')

      .inner-group
        label(for = '') Email
        input(type = 'email', name = '', id = '')
    
      .inner-group 
        label(for = '') Địa chỉ
        input(type = 'text', name = '', id = '')
      

      .inner-group
        label(for = '') Logo 
        input(type = 'file' name = '' id = '')

      .inner-group
        label(for = '') Favicon
        input(type = 'file' name = '' id = '')
      
      .inner-group.inner-two-col.text-center 
        button Cập nhật
    .inner-link 
      a(href = '#') Quay lại danh sách 


  //End section 8