extends ../layouts/default.pug
block title 
  title Cài đặt chung

block main
  h1.box-title Cài đặt chung
  //Section 9
  .section-9
    .inner-item 
      img(src = 'assets/imgs/section-9-icon-1.svg')
      span Thông tin website
    .inner-item 
      img(src = 'assets/imgs/section-9-icon-2.svg')
      span Tài khoản quản trị
    .inner-item 
      img(src = 'assets/imgs/section-9-icon-3.svg')
      span Nhóm quyền
  //End section 9
